<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="carLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <carLogger.Properties.Settings>
            <setting name="com_port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baud_rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
        </carLogger.Properties.Settings>
    </userSettings>
</configuration>